.big-cards-container{
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

@media (min-width:768px){
    .big-cards-container{
        max-width: 1000px;
        margin: 2rem auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
        align-items: center;
    }
}