.main-cover{
    margin-top: 64px;
    height: 60vh;
    position: relative;
}

.background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px) contrast(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* adjust opacity */
    z-index: -1;
  }
  

.cover-content{
    height: 100%;
    color: aliceblue;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1px 3px #001100;
    z-index: 10;
}

.main-header{
    font-size: 2.25rem;
}

.main-subheader{
    font-size: 2rem;
}

@media(min-width:768px){
    .main-cover{
        height: 90vh;
    }
    
    .background-image{
        background-position: bottom;
    }

    .main-header{
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
    
    .main-subheader{
        font-size: 4rem;
    }
    
}