html{
  scroll-behavior: smooth;
}

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #001100;
  font-family: "Kadwa", serif;
}

.big-cards-container{
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}