.menu{
    margin: 64px auto;
    font-family: "Inter", system-ui;
}

.menu-header{
    text-align: center;
    color: aliceblue;
    margin: 1rem 0;
}

.menu-container{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-category{
    color: aliceblue;
    font-size: 2rem;
    font-weight: 600;
}